html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1 rem=10px**/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}
/* Globales*/
.contenedor{
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}
h1, h2, h3, h4{
  font-family: 'PT Sans', sans-serif;
}
h1{
  font-size: 4.8rem;
}
h2{
  font-size: 4rem;
}
h3{
  font-size: 3.2rem
}
h4{
  font-size: 2.8rem;
}
img{
    max-width: 100%
}
/* Utilidades*/
.centrar-texto{
  text-align: center;
}
.no-margin{
  margin: 0;
}
/*Header*/
@media(min-width:768px){
  .barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.site-header{
  background-image: url(../img/banner.jpg);
  background-repeat: none;
  background-position: center center;
  background-size: cover;
  height: 60rem;
}
.site-header a{
  color: #ffffff;
  text-decoration: none;
}
.site-header h1{
  text-align: center;
  font-weight: 400;
}
.site-header span{
  font-weight: 700;
}
/*Navegación*/
.navegacion a{
  text-align: center;
  display: block;
  font-size: 1.8rem;
}
@media(min-width: 768px){
  .navegacion a{
    display: inline;
    margin-right: 2rem;
  }
  .navegacion a:last-of-type{
    margin: 0;
  }
}
/*Texto header*/
.texto-header{
  color:#ffffff;
  text-align: center;
  margin-top: 5rem;
}
@media(min-width: 768px){
  .texto-header{
    margin-top: 15rem;
  }
}
.texto-header p{
  text-shadow: 2.2rem;
}
/* COntenido Principal HOME*/
.contenido-principal{
  display: flex;
  flex-wrap: wrap;
}
.blog,
.cursos{
  flex: 0 0 100%;
  /*flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;*/
}
.cursos{
  order: -1;
}
@media (min-width: 768px) {
  .contenido-principal{
    justify-content: space-between;
  }
  .blog{
    flex-basis: 66.6%;
    order: -1;
  }
  .cursos{
    flex-basis: calc(33.3% - 4rem);
    /*order: 2; esto es en vez de order: -1*/ 
  }
}
/** Opcional **/
.entrada-blog{
  display: flex;
  justify-content: space-between;
}
.entrada-blog .imagen{
  flex: 0 0 40%;
}
.entrada-blog .contenido-blog{
  flex: 0 0 calc(60% - 2rem);
}